section,
footer {
  /* outline: 2px dashed red; */
}
.container,
.box .box1 {
  /* outline: 2px dashed red; */
}

html * {
  /* outline: 2px dashed red; */
}

/* Globle */

body {
  margin: 0;
  box-sizing: border-box;
}

html {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  width: 1000px;
  margin: auto;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
}
/* section */
.main {
  background: rgb(240, 242, 245);
  height: 730px;
  display: flex;
}
.container .box {
margin-top: -60px;
}
.box {
   display: flex;
   flex-direction: column;
   position: relative;
   top: 25px;
  /* align-items: flex-start; */
  /* justify-content: center; */

}
.box img {
  width: 300px;
  margin-left: -30px;
}
.box h1 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  margin-top: -60px;
  line-height: 1;
}

.box1 {
  position: relative;
  bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.box1 > p {
  margin-left: auto;
  margin-right: auto;
}
.form_sign {
  width: 370px;
  height: 330px;
  background: white;
  margin-top: 4px;
  /* margin-left: 80px; */
  padding: 15px;
  border-radius: 10px;
  line-height: 2;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.329);
  /* text-align: center; */
}
.Emailbox {
  width: 370px;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.418);
}
.passwordbox {
  width: 370px;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.418);
}
.button_submit {
  width: 370px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px;
  /* margin-left: 5px; */
  border-radius: 5px;
  border: 1px solid gray;
  background: #1877f2;
  color: white;
}
.button_submit:hover {
  background: #215fb1;
}

.signup {
  width: 160px;
  padding: 10px 8px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  /* margin-left: 5px; */
  border-radius: 5px;
  border: 1px solid gray;
  background: #42b72a;
  color: white;
}
.signup:hover {
  background: #308a1e;
}
.box1 a {
  text-decoration: none;
  font-size: 15px;
}
.box1 a:hover {
  text-decoration: underline;
}
.box1 p {
  font-size: 15px;
 
}
.line {
  border-bottom: 1px solid gray;
}
footer {
  background: white;
  height: 200px;
}
.content_footer { 
  display: flex;
  flex-direction: column;
}
footer p {
  margin: 10px;
}

@media (max-width: 900px) {
  .container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    text-align: center;
  
  }
  .box1 {
    position: relative;
    bottom: -60px;
    left: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .box h1 {
    font-size: 25px;
    font-weight: lighter;
    margin: 0;
    margin-top: -60px;
    line-height: 1;
  }
  .box img {
    width: 320px;
    margin-left: -30px;
    margin: auto;
  }
  .content_footer { 
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    flex-shrink: 1;
    line-height: 1.5;
  }
}